input.form-control:focus{
 background:#cccccc26;
}
input.form-control{
      height: 50px;
    color: #777;
    border-radius: 25px;
   font-family: Roboto;
}
.icheck-primary.my-0{
  margin-top:0px !important;
  margin-bottom:0px !important;
}
.form-group label{font-weight:400;color:#333;} 

.float-sm-right {
    float: right!important;
}
.bg-danger, .bg-danger>a, .bg-success, .bg-success>a, .bg-info, .bg-infor>a{
    color:#fff;
}
.bg-warning, .bg-warning>a {
    color: #1f2d3d!important;
}
.bg-info {
    background-color: #17a2b8!important;
}
.bg-success {
    background-color: #28a745!important;
}
.bg-warning{
    background-color: #ffc107!important;
}
.bg-danger {
    background-color: #dc3545!important;
}
.badge-warning.badge{
    background-color: #FE0000 !important;
}
.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.alert-success {
    color: #155724 !important;
    background-color: #d4edda !important;
    border-color: #c3e6cb !important;
}
.alert-danger {
    color: #a94442 !important;
    background-color: #f2dede !important;
    border-color: #ebccd1 !important;
}
.message {
    padding: 15px;
    margin-bottom: 0px;
}
.message>.alert{
    margin-bottom:0px;
}
i.far.fa-bell {
    font-size: 16px;
}
.d-inline {
    display: inline!important;
    padding: 0px 10px;
}
ul.dropdown-menu.userdrop{
    width: 168px;
    max-width: 100%;
}
ul.dropdown-menu.userdrop li a {
    padding: 8px 12px;
    text-align: left;
    font: Regular 14px/19px Roboto !important;
    letter-spacing: 0;
    color: #343943;
}
ul.dropdonw-menu.userdrop.logout{
    border-top:1px solid #ccc;
    padding:10px 12px;
}
ul.nav.navbar-nav{
 margin-right:15px;
}
.btn {
    text-align: center;
    user-select: none;
    border: 1px solid transparent;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 10px 25px;
    font-size: 12px;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius:5px;
}
.card-header {
    background-color: transparent;
    border-bottom: 1px solid rgba(0,0,0,.125);
    padding: .75rem 1.25rem;
    position: relative;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}
.card-title {
    float: left;
    font-size: 1.6em;
    font-weight: 400;
    margin: 0;
    line-height: 35px;
}
.card-header>.card-tools {
    float: right;
    margin-right: -.625rem;
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}
.text-center {
    text-align: center!important;
}
.progress-group {
    margin-bottom: .5rem;
}
.float-right {
    float: right!important;
}
.card-footer {
    padding: .75rem 1.25rem;
    background-color: rgba(0,0,0,.03);
    border-top: 0 solid rgba(0,0,0,.125);
}
.description-block {
    display: block;
    margin: 10px 0;
    text-align: center;
}
.border-right {
    border-right: 1px solid #dee2e6!important;
}
.search_box .sidebar-form input[type="text"], .search_box .sidebar-form .btn{
    background:transparent;
}
.search_box .sidebar-form{
    border-color: #ccc;
    margin-left: 0px;
}
.search_box.col-md-3 {
    padding-left: 0px;
}
a.btn-primary.createuser-btn, .btn.btn-submit.btn-primary{
  line-height:40px;
    padding: 0px 26px;
    margin-top: 10px;
    background:#FE0000;
    color: #fff;
    font-size: 15px;
    border-radius:5px;
    border: 0px;
    text-transform: capitalize;
}

.sidebar-form input.form-control.search {
    width: 357px;
    height:40px;
    border: 0.5px solid #D6D6D6;
    border-radius:5px;
    background:#fff;
}
.search_box .sidebar-form{
    border:none;
}
.search_box .sidebar-form .input-group-btn{
    width: 50px !important;
    height:40px !important;
    border-radius:5px !important;
    background:transparent;
    position: absolute;
    right: 2px;
    z-index: 9;
}
.input-group-btn .button#search-btn{
    font-size:18px;
    line-height:50px;
}

.list_filter_head{
    display:flex;
    justify-content: space-between;
}
a.btn-primary.createuser-btn i.fa, a.btn-primary.createuser-btn i.fas{
    margin-right:5px;
}
.col-md-9.userbtn{
    padding-right:0px;
}
label.badge.badge-success {
    line-height: 28px;
    border-radius: 5px;
    font-size: 12px;
    padding-left: 20px;
    padding-right: 20px;
}
.table>tbody>tr>td{
    vertical-align: middle;
}
.form_container {
       width: 60%;
    max-width: 100%;
    margin:4% auto;
    height: auto;
    padding: 35px;
    box-shadow: 0px 3px 6px #0000001F;
    border: 1px solid #E1E1E1;
    border-radius: 10px;
    background: #F5F6FA;
}
.btn.btn-submit{
    text-align: center;
    text-transform: uppercase;
    border-color: #007bff;
    height:40px;
    border-radius:5px;
}
.mr-10{
    margin-right:10px;
}

.col-md-12.pagination{
    padding-right:0px;
        margin: 0px;
}
.sidebar-menu > li.treeview .fa, .sidebar-menu >li.treeview .fas{
 margin-right:8px;
}
.navbar-nav>li>a {
    padding-top: 5px;
    padding-bottom: 5px;
}
.clr-white {
    color:#fff !important;
}
label.col-sm-2.col-form-label {
        line-height: 50px;
}
.form_container.roleform{
    border:1px solid #ccc;
    padding:20px;
    border-radius: 5px;
}
select[multiple], select[size]{
    height:140px;
    color:#777;
}
.form-control:focus{
    box-shadow: none;
}
.brdright{
    border-right:1px solid #ccc;
}
.label{
text-align: left;
font-family: Roboto;
font-size:15px;
letter-spacing: 0;
color: #333;
text-transform: capitalize;
}
.icheck-primary label{
    text-transform: capitalize;
}
.listcontainer{
    border-radius:5px;
}
.card-body.list_body {
    padding: 0px;
}
.table_data>table{
    border:none;
    margin-bottom:0px;
}
.table_data>table>thead>tr>th{
    font-size:16px;}
.table_data>table tr th, .table_data>table tr td {
    padding:14px 16px !important;
    text-align:center;
    border: none;
}

a.btn.btn-primary.btn_dis, button.btn.btn-danger.btn_dis{
    padding: 0px 10px;
    background: transparent;
    font-size: 15px;
    border: none;
}
a.btn.btn-primary.btn_dis{
    color:#3c8dbc;
}
button.btn.btn-danger.btn_dis{
    color:#FE0000;
}
.btn-primary.btn_dis:hover,.btn-danger.btn_dis:hover{
    border:none;
    color:#FE0000 !important;
}
.table-stripd>tbody>tr:nth-of-type(even){
        background-color: #f9f9f9;
}
.table-stripd>thead>tr{
    background-color: #f9f9f9;
}
.content-header h1 sub a{
    text-transform: capitalize;
    text-decoration:underline;
      color:#FE0000;
}
.content-header h1 sub a:hover{
    text-decoration:none;
}
.question_module{
     width:80%;
    max-width: 100%;
    margin: 15px auto;
}
.heading-2{
      font-size: 24px;
    text-align: left;
    margin-bottom: 0px;
}
[class*=icheck-]>input[type=radio]:first-child+input[type=hidden]+label::before, [class*=icheck-]>input[type=radio]:first-child+label::before {
    border-radius: 50%;
}
fieldset.fieldset{
  display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0px;
    padding-right: 0px;
}
.timemeridiem,.timesec, .timehours {
    width:80px;
    max-width:100%;
    margin-right:5px;
}
.timefield{
    display: flex;
    flex-direction:row;
    padding:8px 0px;
}
.time{
    line-height: 30px;
    margin-right:5px;
}
.question_module hr {
    margin-top: 5px;
}
.icheck-primary{  margin-top: 12px!important;
    margin-bottom: 12px!important;}
.afterclearfix{
    margin-top: 15px!important;
 margin-bottom: 15px!important;} 
 .profile-pic {
    max-width: 200px;
    max-height: 200px;
    display: block;
}

input.file-upload {
    display: none;
}
.squarebox {
       overflow: hidden;
    width: 200px;
    height: 200px;
    border: 3px solid #33333321;
    position: relative;
    top: 72px;
    padding: 5px;
    margin: 0px auto;
    border-radius: 12px;
}
img.profile-pic {
    max-width: 100%;
    height: auto;
    width:100%;
}
.p-image {
      position: absolute;
    top: 167px;
    right: 5px;
    font-size: 20px;
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.p-image:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.upload-button {
  font-size: 1.2em;
}

.upload-button:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  color: #999;
}
.imageupload{
  position:relative;
  min-height:300px;
}
.logo_clr{
    color: #33333391;
}
.division_two{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
form.formcustom .form-group {
    margin-top: 10px;
}
.division_two input {
    width: 45%;
}
li.menubar_hover:hover>ul.treeview-menu{
 display:block;
}

.skin-blue .sidebar-menu > li > .treeview-menu li a{
    padding:8px 15px;
}
.hide{
    display:none;
}
li.menubar_hover:hover>a .fa.fa-angle-down:before{
  content:"\f105";
}
ul.treeview-menu > li:hover>a{
background:#FE0000 ;
color:#fff !important;
}
.input-group-prepend {
    position: absolute;
        background: #FE0000;
      background: #FE0000;
    color: #fff;
    top: 0px;
    right: 0px;
    z-index: 99;
    padding: 10px 12px;
    border-radius:;
    border-bottom-right-radius:5px;
    border-top-right-radius:5px;
}
.sidebar-form input.form-control.dateinput {
      width: 245px;
    height: 40px;
    border: 0.5px solid #D6D6D6;
    border-radius:5px;
    background: #fff;
    padding-left:12px;
}
.w-2700{
    width:2500px;
    max-width:2700px;

}
.w-2400{
    width:2400px;
    max-width:2400px;
}
/* input fieldset */
.pt-2{
    padding-top:2rem;
}
.file-field input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    cursor: pointer;
    filter: alpha(opacity=0);
    opacity: 0;
}

.file-field span {
    cursor: pointer;
    font-size: 14px;
}
.btn{
    margin: .375rem;
    color: inherit;
    text-transform: uppercase;
    word-wrap: break-word;
    white-space: normal;
    cursor: pointer;
    border: 0;
    border-radius: .125rem;
   /* -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);  */
    -webkit-transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;
    padding: .84rem 2.14rem;
    font-size:15px;
}

.file-field {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 75%;
    margin: 28px auto;
}
.file-field .file-path-wrapper {
    height: 2.5rem;
    padding-left: 10px;
    overflow: hidden;
}
.file-field input.file-path {
    width: 100%;
    height: 36px;
}
.md-form input[type="text"]:not(.browser-default)
{    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ced4da;
    border-radius: 0;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border-color 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
        background-color: #FE0000;
        color:#fff !important;
    }
label.custom-file-label {
    padding: 10px 20px;
    line-height: 32px;
    margin-bottom: 0px;
    border-bottom: 1px solid #ccc;
    width: 100%;
}
label.uploadfile_lab {
    width: 150px;
    background: #FE0000;
    color: #fff;
    background-color: #4285f4 !important;
}
.flex_div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.add_field_option_val_group.plus_btn {
    position: absolute;
    right: -30px;
    top: 19px;
    font-size: 32px;
    font-weight: 200;
}

.add_field_group.plus_btn {
    position: absolute;
    right: -30px;
    top: 19px;
    font-size: 32px;
    font-weight: 200;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    line-height:50px;
    margin-bottom: 0px;
    text-align: center;
}
.card-footer {
    background: #fff;
    border-top: 1px solid #ccc;
    padding: 5px 34px;
}
.pagination>li>a, .pagination>li>span{
    padding:12px 22px;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
background-color:#FE0000;
border-color:#FE0000;
}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover{
    background:#fe00002e;
}
.sidebar-form .form-group{
margin-bottom:0px;
}
.pagination{
    margin-right: 14px;
}
.table_data>table.Process tr th, .table_data>table.Process tr td{
  text-align:left;
  padding-left:35px !important;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
span.info-box-icon {
    border-radius: 50%;
    margin: 30px;
}
.info-box-number{
    font-size:2.8em;
    text-align:center;
}
.info-box-text{
    text-align:center;
}
.clr-aqua {
    color: #00c0ef !important;
}
.clr-red{
    color:#dd4b39 !important
}
.clr-green{
    color:#00a65a !important;
}
.clr-yellow{
    color:#f39c12 !important
}
.d-flex{
    display: flex;
}
.justify_content_between{
    justify-content:space-between;
}
.flex-column{
    flex-direction: column;
}
.py-2{
    padding:2em 0px;
}
.py-1{
padding:1em 0px;
}
.justify-content-end {
    justify-content:flex-end;
}
.mr-2{
    margin-right:2em;
}

label[for="SelectAll"]{
    font-weight:600;
}
 .panel-primary > .panel-heading {
                  color: #fff;
    background-color: #0808099e;
    border-color: #337ab71c;
    padding: 18px 30px;
            }
            .panel-primary{
                border:none;
            }
            .panel-primary .pull-right.clickable{
                margin-top:-15px;
                cursor: pointer;
}
.theme_clr{
    color:#FE0000;
}
.add_qest{
    border: 2px solid #FE0000;
    border-radius: 50%;
    font-size: 15px;
    line-height: 32px;
    text-align: center;
    width: 35px;
    height: 35px;
}
 input.form-control.customtinput, select.form-control.customtinput{
     height:45px;
    color: #777;
    font-family: Roboto;
    border-radius: 4px;
 }
 .pt2{
    padding-top:2.5em;
 }
 #category .panel-body{
    border-bottom-left-radius:5px;
    border-bottom-right-radius: 5px;
    border:1px solid #ccc; 
 }
