.form-control {
    font-size: 16px;
    height: 50px;
}

.px-40 {
    padding: 0px 40px !important;
}

.mx-10 {
    margin-left: 10px !important;
    margin-right: 10px !important;
}

input.form-control:focus {
    background: #cccccc26;
}

legend {
    border-bottom: none;
    padding-left: 15px;
    padding-right: 15px;
}

.icheck-primary.my-0 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.form-group label {
    font-weight: 400;
    color: #333;
    margin-bottom: 12px;
    padding: 0px;
    display: block;
}

.icheck-primary.d-inline label {
    display: inline;
}

.float-sm-right {
    float: right !important;
}

.bg-danger,
.bg-danger>a,
.bg-success,
.bg-success>a,
.bg-info,
.bg-infor>a {
    color: #fff;
}

.bg-warning,
.bg-warning>a {
    color: #1f2d3d !important;
}

.bg-info {
    background-color: #17a2b8 !important;
}

.bg-success {
    background-color: #28a745 !important;
}

.bg-warning {
    background-color: #ffc107 !important;
}

.bg-danger {
    background-color: #dc3545 !important;
}

.badge-warning.badge {
    background-color: #FE0000 !important;
}

.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.alert-success {
    color: #155724 !important;
    background-color: #d4edda !important;
    border-color: #c3e6cb !important;
}

.alert-danger {
    color: #a94442 !important;
    background-color: #f2dede !important;
    border-color: #ebccd1 !important;
}

.message {
    padding: 15px 0;
    margin-bottom: 0px;
}

.message>.alert {
    margin-bottom: 0px;
}

i.far.fa-bell {
    font-size: 16px;
}

.d-inline {
    display: inline !important;
    padding: 0px;
}

ul.dropdown-menu.userdrop {
    width: 168px;
    max-width: 100%;
}

ul.dropdown-menu.userdrop li a {
    padding: 8px 12px;
    text-align: left;
    font: Regular 14px/19px Roboto !important;
    letter-spacing: 0;
    color: #343943;
}

ul.dropdonw-menu.userdrop.logout {
    border-top: 1px solid #ccc;
    padding: 10px 12px;
}

ul.nav.navbar-nav {
    margin-right: 15px;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, .125);
    border-radius: 5px;
}

.card-header {
    background-color: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    padding: 0.1rem 1.25rem;
    position: relative;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.card-title {
    float: left;
    font-size: 1.6em;
    font-weight: 400;
    margin: 0;
    line-height: 35px;
}

.card-header>.card-tools {
    float: right;
    margin-right: -.625rem;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.text-center {
    text-align: center !important;
}

.progress-group {
    margin-bottom: .5rem;
}

.float-right {
    float: right !important;
}

.card-footer {
    padding: .75rem 1.25rem;
    background-color: rgba(0, 0, 0, .03);
    border-top: 0 solid rgba(0, 0, 0, .125);
}

.description-block {
    display: block;
    margin: 10px 0;
    text-align: center;
}

.border-right {
    border-right: 1px solid #dee2e6 !important;
}

.search_box .sidebar-form input[type="text"],
.search_box .sidebar-form .btn {
    background: transparent;
    border: none;
}

.search_box .sidebar-form {
    border-color: #ccc;
    margin-left: 0px;
}

.search_box.col-md-3 {
    padding-left: 0px;
}

a.btn-primary.createuser-btn,
.btn.btn-submit.btn-primary {
    line-height: 50px;
    padding: 0px 26px;
    margin-top: 10px;
    background: #FE0000;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    border: 0px;
    text-transform: capitalize;
}

.sidebar-form input.form-control.search {
    width: 357px;
    height: 50px;
    border: 0.5px solid #D6D6D6;
    border-radius: 5px;
    background: #fff;
}

.sidebar-form input.form-control.search:focus {
    border: 0.5px solid #66afe9;
    background: #eee;
}

.search_box .sidebar-form {
    border: none;
}

.search_box .sidebar-form .input-group-btn {
    width: 50px !important;
    height: 50px !important;
    border-radius: 5px !important;
    background: transparent;
    position: absolute;
    right: 2px;
    z-index: 9;
    border: none;
}

.input-group-btn .button#search-btn {
    font-size: 18px;
    line-height: 50px;
}

.list_filter_head {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

a.btn-primary.createuser-btn i.fa,
a.btn-primary.createuser-btn i.fas {
    margin-right: 5px;
}

.col-md-9.userbtn {
    padding-right: 0px;
}

label.badge.badge-success {
    line-height: 28px;
    border-radius: 5px;
    font-size: 12px;
    padding-left: 20px;
    padding-right: 20px;
}

.table>tbody>tr>td {
    vertical-align: middle;
}

.form_container {
    width: 94%;
    max-width: 100%;
    margin: 2% auto;
    height: auto;
    padding: 35px;
}

.btn.btn-submit {
    text-align: center;
}

.mr-10 {
    margin-right: 10px;
}

.col-md-12.pagination {
    padding-right: 0px;
    margin: 0px;
}

.sidebar-menu>li.treeview .fa,
.sidebar-menu>li.treeview .fas {
    margin-right: 8px;
}

.navbar-nav>li>a {
    padding-top: 5px;
    padding-bottom: 5px;
}

.clr-white {
    color: #fff !important;
}

label.col-sm-2.col-form-label {
    line-height: 50px;
}

.form_container.roleform {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
}

select[multiple],
select[size] {
    height: 140px;
    color: #777;
}

.form-control:focus {
    box-shadow: none;
}

.brdright {
    border-right: 1px solid #ccc;
}

.label {
    text-align: left;
    font-family: Roboto;
    font-size: 16px;
    letter-spacing: 0;
    color: #333;
    text-transform: capitalize;
}

.icheck-primary label {
    text-transform: capitalize;
}

.listcontainer {
    border-radius: 5px;
}

.card-body.list_body {
    padding: 0px;
}

.table_data {
    overflow: auto;
    height: 600px;
}

.table_data>table {
    /*border:none;*/
    margin-bottom: 0px;
}

.table_data>table>thead>tr>th {
    font-size: 16px;
    position: sticky;
    top: -1px;
    background: #f0f0f0;
    z-index: 9;
   
}

.table_data>table tr th,
.table_data>table tr td {
    padding: 16px 16px !important;
    text-align: center;
    /*    border: none;*/
    max-width:100%;
    white-space: nowrap;
    max-width: 100%;
    white-space: nowrap;
}

a.btn.btn-primary.btn_dis,
button.btn.btn-danger.btn_dis {
    padding: 0px 10px;
    background: transparent;
    font-size: 16px;
    border: none;
}

a.btn.btn-primary.btn_dis {
    color: #3c8dbc;
}

button.btn.btn-danger.btn_dis {
    color: #FE0000;
}

.btn-primary.btn_dis:hover,
.btn-danger.btn_dis:hover {
    border: none;
    color: #FE0000 !important;
}

.table-stripd>tbody>tr:nth-of-type(even) {
    background-color: #f9f9f9;
}

.table-stripd>thead>tr {
    background-color: #f9f9f9;
}

.content-header h1 sub a {
    text-transform: capitalize;
    text-decoration: underline;
    color: #FE0000;
}

.content-header h1 sub a:hover {
    text-decoration: none;
}

.question_module {
    width: 94%;
    max-width: 100%;
    margin: 35px auto;
}

.heading-2 {
    font-size: 24px;
    text-align: left;
    margin-bottom: 0px;
}

[class*=icheck-]>input[type=radio]:first-child+input[type=hidden]+label::before,
[class*=icheck-]>input[type=radio]:first-child+label::before {
    border-radius: 50%;
}

fieldset.fieldset {
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0px;
    padding-right: 0px;
}

.timemeridiem,
.timesec,
.timehours {
    width: 80px;
    max-width: 100%;
    margin-right: 5px;
}

.timefield {
    display: flex;
    flex-direction: row;
    padding: 8px 0px;
}

.time {
    line-height: 30px;
    margin-right: 5px;
}

.question_module hr {
    margin-top: 5px;
}

.icheck-primary {
    margin-top: 12px !important;
    margin-bottom: 12px !important;
}

.afterclearfix {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

.profile-pic {
    max-width: 200px;
    max-height: 200px;
    display: block;
}

input.file-upload {
    display: none;
}

.squarebox {
    overflow: hidden;
    width: 200px;
    height: 200px;
    border: 1px solid #33333321;
    position: relative;
    top: 10px;
    padding: 5px;
    margin: 0px auto;
    border-radius: 50%;
    text-align: center;
}

img.profile-pic {
    max-width: 95px;
    height: auto;
    width: 100%;
    margin: 46px auto;
    opacity: .5;
}

.p-image {
    position: absolute;
    top: 146px;
    right: 34px;
    font-size: 20px;
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
    background: #fff;
    padding: 10px;
    border-radius: 50%;
    border: 2px solid #FE0000;
    width: 60px;
    height: 60px;
    line-height: 42px;
    z-index: 99;
    text-align: center;

}

.setpdng_profile_upload {
    padding: 55px;
}

.p-image i.fa.fa-camera {
    color: #FE0000;
}

.p-image:hover {
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}

.upload-button {
    font-size: 1.2em;
}

.upload-button:hover {
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
    color: #999;
}

.imageupload {
    position: relative;
    min-height: 226px;
    width: 255px;
    margin: 0px auto;
}

.logo_clr {
    color: #33333391;
}

.division_two {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

form.formcustom .form-group {
    margin-top: 10px;
}

.division_two input {
    width: 45%;
}

li.menubar_hover:hover>ul.treeview-menu {
    display: block;
}

.skin-blue .sidebar-menu>li>.treeview-menu li a {
    padding: 8px 15px;
}

.hide {
    display: none;
}

li.menubar_hover:hover>a .fa.fa-angle-down:before {
    content: "\f105";
}

ul.treeview-menu>li:hover>a {
    background: #FE0000;
    color: #fff !important;
}

.input-group-prepend {
    position: absolute;
    background: #FE0000;
    background: #FE0000;
    color: #fff;
    top: 0px;
    right: 0px;
    z-index: 99;
    padding: 14px 12px;
    border-radius: ;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.sidebar-form input.form-control.dateinput {
    width: 245px;
    height: 50px;
    border: 0.5px solid #D6D6D6;
    border-radius: 5px;
    background: #fff;
    padding-left: 12px;
}

.w-2700 {
    width: 2500px;
    max-width: 2700px;

}

.w-2400 {
    width: 2400px;
    max-width: 2400px;
}

/* input fieldset */
.pt-2 {
    padding-top: 2rem;
}

.file-field input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    cursor: pointer;
    filter: alpha(opacity=0);
    opacity: 0;
}

.file-field span {
    cursor: pointer;
    font-size: 18px;
    color: #1F88D6;
}


.file-field {
    position: relative;
    width: 50%;
    margin: 28px auto;


}

.file-field .file-path-wrapper {
    height: 2.5rem;
    padding-left: 10px;
    overflow: hidden;
}

.file-field input.file-path {
    width: 100%;
    height: 36px;
}

.md-form input[type="text"]:not(.browser-default) {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ced4da;
    border-radius: 0;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    background-color: #FE0000;
    color: #fff !important;
}

label.custom-file-label {
    padding: 10px 20px;
    line-height: 32px;
    margin-bottom: 0px;
    border-bottom: 1px solid #ccc;
    width: 100%;
}

label.uploadfile_lab {
    width: 150px;
    background: #FE0000;
    color: #fff;
    background-color: #FE0000 !important;
    line-height: 50px;
    text-align: center;
    margin-bottom: 0px;
    font-weight: 400;
}

.flex_div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.add_field_option_val_group.plus_btn {
    position: absolute;
    right: -30px;
    top: 19px;
    font-size: 32px;
    font-weight: 200;
}

.add_field_group.plus_btn {
    font-size: 32px;
    font-weight: 200;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    line-height: 50px;
    margin-bottom: 0px;
    text-align: center;
    display: inline-block;
    padding-left: 8px;
}

.card-footer {
    background: #fff;
    border-top: 1px solid #ccc;
    padding: 5px 34px;
}

.pagination>li>a,
.pagination>li>span {
    padding: 12px 22px;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    background-color: #FE0000;
    border-color: #FE0000;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
    background: #fe00002e;
}

.sidebar-form .form-group {
    margin-bottom: 0px;
}

.pagination {
    margin-right: 14px;
}

.table_data>table.Process tr th,
.table_data>table.Process tr td {
    text-align: left;
    padding-left: 35px !important;
}

.switch {
    position: relative;
    display: inline-block;
    min-height: 40px;
    line-height: 22px;
}

span.info-box-icon {
    border-radius: 50%;
    margin: 30px;
}

.info-box-number {
    font-size: 16px;
    text-align: center;
}

.info-box-text {
    text-align: left;
    padding: 0px 10px 10px;
    min-height: 100px;
    line-height: 22px;
    margin-bottom: 15px;
    color: #777;
    font-size: 18px;
}

.clr-aqua {
    color: #00c0ef !important;
}

.clr-red {
    color: #dd4b39 !important
}

.clr-green {
    color: #00a65a !important;
}

.clr-yellow {
    color: #f39c12 !important
}

.d-flex {
    display: flex;
}

.justify_content_between {
    justify-content: space-between;
}

.flex-column {
    flex-direction: column;
}

.py-2 {
    padding: 2em 0px;
}

.py-1 {
    padding: 1em 0px;
}

.justify-content-end {
    justify-content: flex-end;
}

.mr-2 {
    margin-right: 2em;
}

label[for="SelectAll"] {
    font-weight: 600;
}

.panel-primary>.panel-heading {
    color: #fff;
    background-color: #0808099e;
    border-color: #337ab71c;
    padding: 18px 30px;
}

.panel-primary {
    border: none;
}

.panel-primary .pull-right.clickable {
    margin-top: -15px;
    cursor: pointer;
}

.theme_clr {
    color: #FE0000;
}

.add_qest {
    border: 2px solid #FE0000;
    border-radius: 50%;
    font-size: 15px;
    line-height: 32px;
    text-align: center;
    width: 35px;
    height: 35px;
}

input.form-control.customtinput,
select.form-control.customtinput {
    height: 50px;
    color: #777;
    font-family: Roboto;
    border-radius: 5px;
}

.pt2 {
    padding-top: 2.5em;
}

#category .panel-body {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #ccc;
}

.left_pdng {
    padding-left: 40px;
}

.right_pdng {
    padding-right: 40px;
}

.form-group {
    margin-bottom: 25px;
}

.pt-45 {
    padding-top: 45px;
}

span.info-box-icon {
    background: transparent !important;
}

span.info-box-icon i.fa {
    color: #3333336b;
    font-size: 70px;
    z-index: 0;
    opacity: 0.1;
}

.justify_content_between_space {
    justify-content: space-between;
}

.percentage .badge {
    min-width: 10px;
    background-color: #00c0ef;
    border-radius: 10px;
}

.info-box .progress .progress-bar {
    background: #00c0ef;
    /* background-color: #337ab7; */
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}

.info-box .progress {
    height: 10px;
    width: 96%;
    margin: 5px auto 12px;
}

.clr-green_bg {
    background: #00a65a !important;
}

.clr-red_bg {
    background: #dd4b39 !important;
}

.clr-yellow_bg {
    background: #f39c12 !important;
}

.bg-dark {
    background: #343a40 !important;
}

.bg-secondary {
    background-color: #6c757d !important;
}

.bg-danger {
    background-color: #dc3545 !important;
}

.text-info {
    color: #17a2b8 !important;
}

.text-warning {
    color: #ffc107 !important;
}

.text-secondary {
    color: #6c757d !important;
}

.badge.bg-warning {
    color: #fff !important;
}

.pl-15 {
    padding-left: 15px;
}

.mt-0 {
    margin-top: 0px !important;
}

/*file upload*/

.file-field-inner {
    width: 100%;
    text-align: center;
    border: 1px solid #EBEBEB;
    padding: 30px 10px 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 1.5px rgba(0, 0, 0, 0.12156862745098039);
}

p.file-box-main-heading {
    font-size: 18px;
    color: #3D3D3D;
}

label.drag-drop-text {
    font-size: 16px;
    color: #000000;
    padding: 10px 0;
}

.upload-img-container {
    display: block;
    border-radius: 50%;
    border: 1px dashed #D3D3D3;
    width: 120px;
    height: 120px;
    margin: 0px auto;
}

.upload-img-container img {
    margin: 30px auto;
}

p.or-text {
    color: #939393;
    font-size: 14px;
}

p.file-format-text {
    color: #0DB42A;
    font-size: 13px;
}

.browse-file-lbl {
    border: 1px dashed #D3D3D3;
    color: #1F88D6;
    font-size: 18px;
    padding: 10px 45px;
    border-radius: 50px;
}

.browse-and-drag-drop-parent {
    position: relative;
}

.datepicker table tr td span.active {
    background: #FE0000 !important;
}

/*circular progress bar*/

.progress-pie-chart {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #E5E5E5;
    position: relative;
}

.progress-pie-chart.gt-50 {
    background-color: #81CE97;
}

.ppc-progress {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 30px);
    top: calc(50% - 30px);
    width: 60px;
    height: 60px;
    clip: rect(0, 60px, 60px, 30px);
}

.ppc-progress .ppc-progress-fill {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 30px);
    top: calc(50% - 30px);
    width: 60px;
    height: 60px;
    clip: rect(0, 30px, 60px, 0);
    background: #81CE97;
    transform: rotate(60deg);
}

.gt-50 .ppc-progress {
    clip: rect(0, 100px, 200px, 0);
}

.gt-50 .ppc-progress .ppc-progress-fill {
    clip: rect(0, 200px, 200px, 100px);
    background: #E5E5E5;
}

.ppc-percents {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 50px/2);
    top: calc(50% - 50px/2);
    width: 50px;
    height: 50px;
    background: #fff;
    text-align: center;
    display: table;
}

.ppc-percents span {
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: #81CE97;
}

.pcc-percents-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.progress-pie-chart {
    margin: 0px auto;
}


ul.treeview-menu .fa {
    font-size: 11px;
}

.table_data.storelist>table tr td {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

.dashboard_block {
    margin-top: 25px;
}

h4.heading-5 {
    font-weight: 600;
    font-size: 20px;
    margin: 20px 8px;
}

.panel-heading {
    position: relative;
}

span.clickable {
    display: block;
    width: 100%;
    height: 54px;
    position: absolute;
    cursor: pointer;
    top: 0px;
    text-align: right;
    left: 0px;
    line-height: 54px;
    padding-right: 20px;
}

.p-0 {
    padding: 0;
}

select#item-show-per-page-select {
    border-radius: 5px;
    font-size: 15px;
    font-weight: normal;
    margin-left: 10px;
    padding: 2px 10px;
}

label.show-enteries-text {
    font-weight: normal;
}

.show-enteries-parent {
    margin: 5px 0 10px;
    display: none;
}

.showing-enteries-text {
    padding-right: 5px;
}



@media (max-width: 1100px)
{
    #maindashboard .info-box-icon
    {
        width:100%!important;
    }


    #maindashboard .info-box-content
    {
        display:flex;
        flex-direction:column;

    }
    .sidebar-form input.form-control.search
    {
        width:100%!important;
    }
}

a:hover
{
    text-decoration:none;
}
