.item-per-page {
    border-radius: 5px;
    font-size: 15px;
    font-weight: normal;
    margin-left: 10px;
    padding: 2px 10px;
}

.remove-message-icon {
    float: right;
    margin-top: 5px;
}

/*Scroll Styling*/


/* width */
::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar {
    height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #FE0000:;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #f1f1f1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/*Scroll Styling ends*/

a:visited,
a:active,
a:focus {
    text-decoration: none !important;
}

.green-color {
    color: #36C04E;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #ffffff;
}

.table-striped>tbody>tr:nth-of-type(even) {
    background-color: #f9f9f9;
}

.sidebar-mini.sidebar-collapse .main-header .logo>.logo-mini {
    line-height: 65px;
}

.table-valign-top tr th {
    vertical-align: top !important;
}

.form_in_title select {
    font-size: 20px;
    border: none;
    background: transparent;
    padding: 6px 18px;
}

.form_in_title select.firstone {
    padding-left: 0px;
}

.form_in_title select:focus {
    border: none;
}

.userbtn.usedtails {
    padding: 10px 0px;
}

.userbtn.usedtails label {
    line-height: 50px;
}

.userbtn.usedtails label span {
    font-weight: 300;
    font-size: 14px;
}

.card.Questioncard>.card-header {
    padding-left: 0px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
}

.Questioncard .card-header>span {
    width: 15px;
    background: #fe0000;
    padding: 10px 15px;
    margin-right: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: #ffff;
    font-size: 18px;
}

.label.answers {
    padding: 10px 0px;
    display: block;
    width: 70%;
    max-width: 100%;
    overflow-wrap: break-word;
    margin-left: 0px;
}

.label.answers i.fa {
    margin-right: 10px;
    font-size: 16px;
}

.label.answers span {
    font-weight: 300;
}

.invalid-feedback,
.error_field {
    color: red;
    font-size: 14px;
}


.form_in_title select:focus {
    outline: 0;
    box-shadow: none;
}


.alert-dismissable .close,
.alert-dismissible .close {
    right: 0px;
    top: 0px;
    opacity: .7;
    text-decoration: none;
}

.card.Questioncard .card-body {
    padding: 40px;
}

.attchedfile img {
    width: 90px;
    max-width: 100%;
}

.attchedfile {
    background: #f5f5f5;
}

.card.Questioncard .card-body {
    padding: 40px;
    border: 2px solid #f5f5f5;
    border-radius: 5px;
    margin-bottom: 15px;
}

.card.Questioncard {
    width: 96%;
    max-width: 100%;
    margin: 5px auto;
}

.mt-0 {
    margin-top: 0px !important;
}

.pt-10 {
    padding-top: 10px !important;
}

.icheck-primary.field_eable {
    margin-top: 0px !important;
    float: right;
}

.icheck-primary.field_eable label.label {
    padding-left: 0px !important
}

.pt-20 {
    padding-top: 20px !important;
}

.clr_white {
    color: #fff !important;
}

.input-group .input-group-addon.inputplus {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.upload-file-btn {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

input.file-choosen-hidden {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.mtb-10 {
    margin: 10px 0;
}

.mr-0 {
    margin-right: 0px !important;

}

.dashboard_block .col-md-3.col-sm-6 {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
}

.mr-8 {
    margin-right: 8px;
}

.row.dashboard_block {
    display: flex;
    flex-wrap: wrap;
}

.prgr-bar-parent {
    position: absolute;
    bottom: 15px;
    right: 0;
    left: 0;
    padding: 0 20px;
  }
  #maindashboard .info-box {
    display: block;
    min-height: 90px;
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    margin-bottom: 15px;
}

#maindashboard .info-box-content {
    padding: 14px 10px;
    margin-left:0px;
}

#maindashboard .info-box-text {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0px;
    line-height: 32px;
    padding-bottom: 0px;
    min-height: 36px;
}

#maindashboard .progress-description,
#maindashboard .info-box-text {
    display: block;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#maindashboard .info-box-number {
    display: block;
    font-weight: bold;
    font-size: 36px;
}

#maindashboard .info-box small {
    font-size: 14px;
}

#maindashboard .info-box-icon {
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    display: block;
    float: left;
         height: 110px;
width: 110px;
text-align: center;
font-size: 50px;
line-height: 90px;
    background: rgba(0, 0, 0, 0.2);
    padding: 15px;
    margin: 0px;
}

#maindashboard span.info-box-icon i.fa {
    opacity: 1;
}
.nulled_bg{
  background:transparent !important;
}
.bg_set{
  background:#fff !important;
}
.border_top_left{
  border-top-left-radius:5px; 
}
.border_top_right{
 border-top-right-radius:5px;
}
.border_bottom_right{
  border-bottom-right-radius:5px;
}
.border_bottom_left{
  border-bottom-left-radius:5px; 
}
.setborder{
  border:2px solid #fff !important;
}
.py-15{
  padding-left:15px;
  padding-right:15px;
}
.graph_stats{
  flex:1;
}
.graph_box{
  flex:2;
}


.label-and-select-together{
        border: 1px solid #D6D6D6;
        border-radius: 5px;

}

.label-and-select-together select {
    box-shadow: none;
    height: 100%;
    border: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0 10px;
}

.label-and-select-together form {

    border-radius: 5px;
    height: 49px;
    display: flex;
    align-items: center;
    background: #F0F0F0;
    padding-left: 15px;
}

.label-and-select-together  label {
    font-weight: normal;
    padding-right: 10px;
    margin: 0;
}

select:focus{
outline: none;
}   
.pt-10{
    padding-top:10px !important;
}
.mb-0{
    margin-bottom:0px !important;
}