
    html,
    body {
      height: 100%;
      color:#333;
       background:#e9ecef;
    }
    .text-muted{
      text-align: left;
font: Regular 16px/21px Roboto;
letter-spacing: 0;
color: #9F9F9F;
opacity: 1;
    }

    #login .container #login-row #login-column #login-box {
      margin-top: 120px;
       padding-bottom: 0px;
     max-width: 485px;
    height: auto;
      border-radius: 10px;
      box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
      background:#fff;
    }
    .heading-3{
    text-align: left;
font: Bold 24px/32px Roboto;
letter-spacing: 0;
color: #3F3F3F;
opacity: 1;
margin-bottom:0px;
}
    #login .container #login-row #login-column #login-box #login-form {
      padding:30px;
    }
    .btn-md.btn-signin{
      text-align:center;
        text-transform: uppercase;
        background:#FE0000;
    border:none; 
       width: 120px;
    height: 50px;
    border-radius: 25px;
    }
    .brand-img{
    width:110px;
    height:110px;
    display: table-cell;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    }
    .brand-img img{
        max-width:95%;
    }
    [class*=icheck-] {
    min-height: 22px;
    margin-top: 6px!important;
    margin-bottom: 6px!important;
    padding-left: 0;
}
[class*=icheck-]>input:first-child {
    position: absolute!important;
    opacity: 0;
    margin: 0;
}
[class*=icheck-]>label {
    padding-left: 29px!important;
    min-height: 22px;
    line-height: 22px;
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
}
[class*=icheck-]>input:first-child+label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 22px;
    height: 22px;
    border: 1px solid #D3CFC8;
    border-radius: 0;
    margin-left: -29px;
}
.icheck-primary>input:first-child:checked+input[type=hidden]+label::before, .icheck-primary>input:first-child:checked+label::before {
    background-color: #007bff;
    border-color: #007bff;
}
[class*=icheck-]>input:first-child:checked+input[type=hidden]+label::after, [class*=icheck-]>input:first-child:checked+label::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 7px;
    height: 10px;
    border: 2px solid #fff;
    border-left: none;
    border-top: none;
    transform: translate(7.75px,4.5px) rotate(45deg);
    -ms-transform: translate(7.75px,4.5px) rotate(45deg);
}
input.form-control {
           height: 50px;
        border: 1px solid #CFCFCF;
        border-radius: 25px;
}
input.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: none;
    }