/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 21, 2020, 3:22:47 PM
    Author     : Mandeep Singh
*/

html{font-size:16px;}
body{font-family: 'Heebo', sans-serif !important;font-size:1rem;}
::-webkit-scrollbar-track{background-color: #fff;}
::-webkit-scrollbar{width: 4px;height: 5px;background-color: #ffffff;}
::-webkit-scrollbar-thumb{background-color: #999;}
.shadow-none{box-shadow: none !important;}
.w-80{width: 80%;}
.font-weight-300{font-weight:300 !important;}.font-weight-500{font-weight:500 !important;}.font-weight-600{font-weight:600 !important;}.font-weight-700{font-weight:700 !important;}
.font-10{font-size:0.625rem;}.font-12{font-size:0.75rem;}.font-14{font-size:0.875rem;}.font-16{font-size: 1rem;}
a, a:hover{text-decoration: none !important;line-height: initial !important}
/*Auth Pages*/
.auth-pages{height: 100vh;}
.login-left-side{background:linear-gradient(157deg, rgba(205, 24, 237, .3) 4%, rgba(140, 0, 240, .7) 61%, rgba(32, 178, 251, .2) 100%), url(../images/login-bg.jpg) no-repeat left top 80%;background-size: cover;}
.login-inner{padding: 50px 100px}
.login-inner input.form-control{background-image: none;border-bottom: 1px solid #cdcdcd;font-weight: 300;padding: 7px 40px 10px 20px;font-size: 14px;transition: .5s ease-in-out;}
.login-inner input.form-control::placeholder{font-size: 14px;}
.login-inner .form-group.is-focused input{border-bottom-color: #bf13ee;}
.login-inner .form-group.is-focused object{filter: invert(0.4) sepia(0.5) saturate(130) hue-rotate(273deg) brightness(.9);}
.login-inner .form-group1:before{content:'';position: absolute;left: 0;bottom: 14px;width: 3px;height: 18px;background-color: #bf13ee;transform: skewY(-40deg);}
.login-inner .input-icon{position:absolute;bottom:10px;right:10px;width: 16px;transition: .3s ease-in-out}
.login-inner .login-btn{background-color: #3b84f8;color: #fff;height: 65px; width: 65px; font-size: 2rem;outline: none;border: none;border-radius: 100%;cursor: pointer;}
.login-inner .forgot-password{text-transform: capitalize;color: #bf13ee;font-weight: 300}
.input-error {position: absolute;font-size: 10px;font-weight: 400;}
input:-webkit-autofill,input:-webkit-autofill:hover, input:-webkit-autofill:focus,textarea:-webkit-autofill,textarea:-webkit-autofill:hover,textarea:-webkit-autofill:focus,select:-webkit-autofill,select:-webkit-autofill:hover,select:-webkit-autofill:focus {-webkit-box-shadow: 0 0 0px 1000px #fff inset;transition: background-color 5000s ease-in-out 0s;background-color: rgb(255,255,255) !important}
/*Sidebar Css*/
.sidebar{width:250px; transition: all 300ms linear;background-color: #fff;position: fixed;z-index: 9;}
.sidebar .sidebar-header{height: 70px;border-bottom:1px solid #f5f6f9;border-right: 4px solid #fff;}
.sidebar-inner {height: 100%;}
.sidebar .sidebar-content {height: calc(100vh - 70px);overflow-y: scroll;box-shadow:0px 20px 30px rgba(199, 199, 199, 0.1)}
.sidebar-content ul li{list-style: none;}
.sidebar-content .submenu{display: none;}
.sidebar-content .menu-item > .menu-link{font-size:0.9375rem;font-weight: 400;color:#4c4c4c;display: flex;align-items: center;padding: 15px 20px;position: relative;border-left: 7px transparent;transition: .5s ease-in-out;}
.sidebar-content .menu-item .menu-link svg{margin-right:15px;}
.sidebar-content .menu-item .menu-link svg path{fill:#4c4c4c;transition: .5s ease-in-out;}
.sidebar-content .menu-item .menu-link:hover, .sidebar-content .menu-item .menu-link.active{color:#ac0cee;background-image: linear-gradient(to right, rgba(16, 85, 152, 0.15) -98%, rgba(74, 144, 226, 0));border-left: 7px solid rgba(181,206,232,.5);}
.sidebar-content .menu-item .menu-link:hover svg path{fill:#ac0cee}
.sidebar-content .menu-item:hover .menu-link:after{border-color:#ac0cee !important;} 
.sidebar-content .menu-item.active-item > .menu-link,.sidebar-content .menu-item.has-submenu-active > .menu-link{color:#ac0cee;}
.sidebar-content .menu-item.active-item > .menu-link svg path, .sidebar-content .menu-item.has-submenu-active > .menu-link svg path{fill:#ac0cee} 
.sidebar-content .submenu li a.menu-link{font-size:0.8125rem;font-weight: 500;color:#744c4c;padding:8px 20px 8px 20px;display: block;}
.sidebar-content .menu-item.has-submenu > .menu-link:after{content: '';position: absolute;width: 10px;height: 10px;border-color: #fff;border-top: 1.2px solid #4c4c4c;border-right: 1.2px solid #4c4c4c; z-index: 1;right: 15px;transform: rotate(45deg);transition: .5s ease-in-out;}
.sidebar-content .menu-item.has-submenu.has-submenu-active > .menu-link:after{transform: rotate(135deg);border-color: #4c4c4c;}
/*Content*/
#content {width: calc(100% - 250px); min-height: 100vh; margin-left: auto; transition: all 0.3s; background-color: #f5f6f9; position: relative;}
nav.top-navbar{height: 70px;color:#585858;box-shadow: 0px 20px 30px rgba(199, 199, 199, 0.1);position: sticky;top: 0;z-index: 9; border-left: 1px solid #f5f6f9;}
nav.top-navbar h6{margin-bottom:0;font-size: 1.125rem;font-weight: 300}
nav.top-navbar .notification-dropdown a:after, nav.top-navbar .profile-dropdown a:after{display: none;}
nav.top-navbar .notification-dropdown a span.badge1{position: absolute;background-color: #f03737;border-radius: 50px;top: 8px;right: 6px;width: 10px;height: 10px;border: 1px solid #fff;}
nav.top-navbar .user-login-profile{width:45px;height:45px;border-radius: 100%;}
nav.top-navbar .profile-dropdown a span.badge1{position: absolute;background-color: #6dd400;border-radius: 50px;bottom: 8px;left: 40px;width: 16px;height: 16px;border: 2px solid #fff;}
nav.top-navbar .profile-dropdown a label{margin-bottom: 0;text-transform: capitalize;color:#a108ef;padding:0 30px 0 10px;font-weight: 500;cursor: pointer;position: relative;}
.dropdown.profile-dropdown a label:after{content:'';position:absolute;width:12px;height:12px;right:0;top: -1px;border-color: #a108ef;border-width: 0 2px 2px 0;border-style: solid;transform: rotate(45deg)}
.dropdown-menu.custom-dropdown .dropdown-item {min-height: inherit;border-bottom: 1px solid #e9ecef;font-size: 0.875rem;padding: 10px 15px;}

.table-top-bar{display: flex;flex-wrap: wrap; align-items: center;justify-content: space-between;margin-bottom: 30px;}
.form-group.custom-form-group label, .custom-label{color:#323232;font-size:0.875rem;top:6px;font-weight: 400}
.form-group.custom-form-group small{font-size:0.75rem;font-weight: 500;position: absolute;}
.form-group.custom-form-group input, .form-group.custom-form-group select{border:1.2px solid #d8e2f0;border-radius: 5px;color:#444445 !important;height: 50px !important;padding:7px 10px;transition:.5s ease-in-out;font-size:0.875rem;font-weight: 400;background-color: #fff;line-height: 1.2;box-shadow: 0px 10px 30px 0 rgba(211, 215, 221, 0.4);background-image: none}
.form-group.custom-form-group select{background: #fff url(../images/dropdown.svg) no-repeat top 20px right 15px;background-size: 13px !important;padding-right: 40px;transition: .5s ease-in-out}
.form-group.custom-form-group select:focus{background:#fff url(../images/dropdown.svg) no-repeat top 20px right 15px !important;background-size: 13px !important;}
.form-group.custom-form-group .form-control.is-invalid:focus{box-shadow: none;border-color:#f44336;}
.form-group.custom-form-group input[type=password]{font-size:1.25rem;font-weight: bold;}
.form-group.custom-form-group.is-filled input, .form-group.custom-form-group.is-filled select{color:#242424;}
.form-group.custom-form-group input::placeholder, .form-group.custom-form-group select::placeholder{font-size: 0.9375rem;color: #bdbdbd;line-height: 1.2;font-weight: 400}
.form-group.custom-form-group input:focus, .form-group.custom-form-group select:focus{border-color:#a108ef;background-image: none;outline:none;}
.form-group.custom-form-group input.search-input{background: url(../images/search-icon.svg) no-repeat top 14px right 15px;background-size: 18px !important;padding-right: 45px;transition: .5s ease-in-out;background-color: #fff;}
.form-group.custom-form-group input.date-input{background: url(../images/calendar-icon.svg) no-repeat top 14px right 15px;background-size: 18px !important;padding-right: 45px;transition: .5s ease-in-out;background-color: #fff;}
/*.form-group.custom-form-group input.search-input:-internal-autofill-selected{}*/
.custom-primary-btn, .custom-primary-btn:hover, .custom-primary-btn:focus{background-color: #a108ef;border: none;border-radius: 5px;color: #fff;height: 50px;padding: 7px 25px;transition: .5s ease-in-out;font-size: 0.875rem;text-transform: capitalize; margin-bottom: 0;}
.custom-primary-btn1, .custom-primary-btn1:hover, .custom-primary-btn1:focus{background-color: #3b84f8;border: none;border-radius: 5px;color: #fff;height: 40px;padding: 7px 45px;transition: .5s ease-in-out;font-size:1rem;text-transform: capitalize; margin-bottom: 0;font-weight: 400}
.custom-primary-btn-sm, .custom-primary-btn-sm:hover, .custom-primary-btn-sm:focus{background-color: #3b84f8;border: none;border-radius: 5px;color: #fff;padding: 8px 20px;transition: .5s ease-in-out;font-size:0.75rem;text-transform: capitalize; margin-bottom: 0;font-weight: 400;box-shadow: 0px 10px 10px 0 rgba(59, 129, 235, 0.46);}
.table.custom-table{border-collapse:inherit;border-spacing: 0 10px;}
.table.custom-table thead tr th{border-bottom: 0;padding-top: 5px;padding-bottom: 5px;text-transform: uppercase;}
.table.custom-table tbody tr{background-color: #fff;}
.table.custom-table tbody tr td{border-top: 1.5px solid #eef2ff !important; border-bottom: 1.5px solid #eef2ff !important;vertical-align: middle;color:#000;height: 70px;}
.table.custom-table tbody tr td:first-child{border-left: 1.5px solid #eef2ff !important;}
.table.custom-table tbody tr td:last-child{border-right: 1.5px solid #eef2ff !important;}
.table .table-profile-img{width:50px;height: 50px;border-radius: 100%;}
.delete-btn{border: none;background-color: inherit;cursor: pointer}
.role-text{color:#2f394e !important;}
.user-name-text{color: #313b50 !important;font-weight: 500}
.view-user-img{width: 250px;height: 250px;}
.user-details-view ul{list-style: none;padding-left: 0}
.user-details-view h3{font-weight: 500;color: #323232}
.user-details-view ul li {display: flex;align-items: center;padding: 10px 0;font-weight: 300}
.modal-close-btn{position: absolute;right: 20px;}
.upload-profile-outer{width: 100px;height: 100px;position: relative;margin: 10px auto 35px}
.user-profile-circle{width:90px;height: 90px;border-radius: 100%;background-color: #e6e6e6;border: 2px solid #fff;box-shadow: 0px 10px 20px rgba(199, 199, 199, 0.2);overflow: hidden;background: #e6e6e6 url('../images/dummy-user.svg') no-repeat center}
.user-profile-circle img{width: 90px;height: 90px;}
.upload-profile-outer .upload-icon{width:30px;height:30px;border: solid 1px #e6e6e6;background-color: #ffffff;border-radius: 100%;position: absolute;display: flex;align-items: center;justify-content: center;bottom: 10px;right: 2px;overflow: hidden}
.upload-profile-outer .upload-icon input{width: 30px;height: 30px;position: absolute;left: 0;top: 0;opacity: 0;}
.daterangepicker {font-family: 'Heebo', sans-serif !important;font-weight: 500;}
.leave-desc{background-color: #efefef;color:#3d3d3d;padding: 10px;font-weight: 300;}
.leave-desc span.reason{background-color: #b235f2;color: #fff;top: -20px;right: 20px;}
.approve-btn, .approve-btn:hover, .approve-btn:focus{background-color: #13ae4a;border: none;border-radius: 5px;color: #fff;height: 50px;padding: 7px 25px;transition: .5s ease-in-out;font-size: 1.25rem;text-transform: uppercase; margin-bottom: 0;font-weight: 400;}
.disapprove-btn, .disapprove-btn:hover, .disapprove-btn:focus{background-color: #c50000;border: none;border-radius: 5px;color: #fff;height: 50px;padding: 7px 25px;transition: .5s ease-in-out;font-size: 1.25rem;text-transform: uppercase; margin-bottom: 0;font-weight: 400;}
.no-of-leaves{color: #3d3d3d;font-size:1.125rem;font-weight: 300;position: absolute;right: 50px;}
.no-of-leaves span{font-size:1.5rem;}
/*Add Details task popup*/
.task-add-details ul{padding: 0;}
.task-add-details ul li{list-style: none;border-top: 1px solid #eeeeee;display: flex;align-items: center;padding: 10px 0;font-size: 0.75rem;color:#4b4b4b;}
.task-add-details ul li label{width:170px;margin: 0;text-align: right;padding-right: 10px; font-weight: 600;font-size: 	0.75rem;color:#000}
.task-add-details ul li input{width: 100%;border:none;font-size: 0.75rem;color:#4b4b4b;}
.task-add-details ul li input:focus{outline: none;}
.task-add-details ul li input::placeholder{opacity: 0.4;font-weight: 400;font-size: 0.75rem;}
.task-add-details ul li .input-outer span{padding: 0;width: 100%;}
.task-add-details ul li input.due-date{background: url(../images/calendar-icon1.svg) no-repeat top 1px left 0;background-size: 15px !important;padding-left: 25px;transition: .5s ease-in-out;background-color: #fff;}
.task-add-details ul li input.notes-input{padding-right: 100px;}
.task-add-details ul li .add-attachment-button{position: relative;color: #000063;text-decoration: underline;cursor: pointer;font-size: 0.75rem;width: 9rem;height: 20px;display: flex;align-items: center;justify-content: center;}
.task-add-details ul li .add-attachment-button input{position: absolute;width: 100%;height: 100%;opacity: 0;}
.task-add-details ul li.notify-to-name{color:#a108ef;}
.delete-task{background-color: inherit;color: #545454;text-decoration: underline;border:none;font-size: 0.875rem;}
.added-desc{color: #7e7e7e;padding: 0 24px;font-size: 0.75rem;}
.project-team-card{border-radius: 10px;border: solid 1px rgba(46, 91, 255, 0.08);background-color: #ffffff;display: flex;flex-wrap: wrap;justify-content: center;padding: 20px;height: 100%;}
.project-team-card .project-team-icon{width: 70px;height: 70px;color: #fff;display: flex;justify-content: center;align-items: center;transform: rotate(45deg);margin: 15px 0;overflow: hidden;}
.custom-card-outer:nth-child(even) .project-team-icon{background-color: #ff748f;}
.custom-card-outer:nth-child(odd) .project-team-icon{background-color: #1de7b0;}
.project-team-card .project-team-icon h4{margin: 0;line-height: inherit;transform: rotate(-45deg);font-size: 1.875rem;font-weight: 500;}
.project-team-card .project-team-icon img{transform: rotate(-45deg);}
.project-team-name,.project-team-name a{font-size: 1.125rem;font-weight: 500;width: 100%;text-align: center;color: #2e384d;}
.project-team-card .team-added img{width: 30px;height: 30px;margin:0 5px;border-radius: 15px;}
.team-added1 img{width: 50px;height: 50px;margin:0 5px;border-radius: 25px;}
.project-status{text-align: center;color: #cfb11c;font-weight: 500;font-size:0.875rem;}
.project-status.status-progress{color: #cfb11c;}
.project-status.status-completed{color: #008700;}
.project-team-card .status-h3{font-weight: 500;font-size: 20px;}
.add-member{cursor: pointer}
.remove-member{border: none;background-color:transparent;color: #3b84f8;font-size: 0.875rem;outline: none;cursor: pointer;}
.add-icon{position: absolute;right: 10px;top:1px;}
.custom-nav-tabs li a{background-color: #fff;padding:10px 20px;position: relative;color: #535353;font-size: 0.875rem;border-top: solid 0.5px #c5c5c5;border-bottom: solid 0.5px #c5c5c5;display: inline-block;height: 40px;transition: .5s ease-in-out}
.custom-nav-tabs li a:hover{background-color: #eeeeee;}
.custom-nav-tabs li a.active{background-color: #9805f0;color: #fff;border-color: #9805f0 !important;}
.custom-nav-tabs li:first-child a{border-radius: 20px 0 0 20px;border-left: solid 0.5px #c5c5c5;}
.custom-nav-tabs li:last-child a{border-radius: 0 20px 20px 0;border-right: solid 0.5px #c5c5c5;}

.chat-discussion .user-profile{width: 35px;height: 35px;border-radius: 20px;}
.chat-discussion .user-name{font-weight: 500;color: #383838;font-size: 1.125rem;display: inline-block;margin-left: 10px;}
.chat-discussion .chat-timing{color: #2d2d4a;}
.chat-discussion .chat-timing .chat-date{color: #929292;}
.chat-discussion p{color: #a2a2a2;font-size: 0.875rem;line-height: 1.7;margin-bottom: 0}
.chat-discussion .chat-images-desc img{border-radius: 10px;margin-right: 10px;max-width: 31%}


/*Chat Dashboard*/
.chat-dashboard{margin: -24px;height: calc(100vh - 70px);background-color: #efefef}
.chat-dashboard .chat-leftbar{width:320px;background-color: #3b84f8;}
.chat-leftbar .searchbar input.search-chat{background: url(../images/search-icon1.svg) no-repeat top 14px left 15px;background-size: 16px !important;padding:5px 5px 5px 45px;transition: .5s ease-in-out;border-radius: 5px;background-color: #3479d4;height: 44px;color: #9bbde9;font-size: 14px;}
.chat-leftbar .searchbar input.search-chat::placeholder{color: #9bbde9;font-size: 14px;}
.chat-leftbar .chat-contact li a{position: relative}
.chat-leftbar .tab-content ul li .chat-user-details{display: flex;align-items: center;padding: 10px 24px;position: relative;flex-wrap: wrap;}
.chat-leftbar .tab-content ul li .chat-user-details.active{background-color: #3479d4;}
.chat-leftbar .tab-content ul li .user-online .user-dp:after, .chat-leftbar .tab-content ul li .user-offline .user-dp:after {content: '';position: absolute;width: 10px;height: 10px;border-radius: 10px;bottom: 8px;left: 60px;}
.chat-leftbar .tab-content ul li .user-online .user-dp:after{background-color: #77e004;}
.chat-leftbar .tab-content ul li .user-offline .user-dp:after{background-color: #e81123;}
.chat-leftbar .tab-content ul li img, .user-dp img{border-radius: 30px;width: 50px;height: 50px;cursor: pointer}
.chat-leftbar .tab-content ul li h5.user-name{font-size: 0.875rem;color: #fff;margin-bottom: 2px;}
.chat-leftbar .tab-content ul li .short-msg{font-size: 0.75rem;margin: 0;color: #fff;}
.chat-leftbar .tab-content ul li a.active h5.user-name, .chat-leftbar .tab-content ul li a .short-msg{font-weight: 500;}
.chat-leftbar .tab-content ul li h5.user-name, .chat-leftbar .tab-content ul li .short-msg{white-space: nowrap;overflow: hidden;text-overflow: ellipsis;width: 170px;}
.chat-leftbar .tab-content ul li .unread-msg{width: 20px;height: 20px;background-color: #fff;color: #3b84f8;border-radius: 10px;display: flex;justify-content: center;align-items: center;font-size: 12px;font-weight: 500;position: absolute;right: 24px;top: 20px;}
.chat-tab-innner{height: calc(100vh - 210px);overflow-y: auto;}
.chat-dashboard .chatboard{flex-grow: 1;background-color: #f7f9fa;}
.chatboard .chatboard-header{display: flex;align-items: center;justify-content: space-between;height: 90px;box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);}
.chatboard .chatboard-header h4{color: #444444;display: flex; align-items: center;}
.chatboard .user-online1, .chatboard .user-offline1{width: 10px;height: 10px;border-radius: 10px;display: inline-block;background-color: #77e004;}
.chatboard .chatboard-msg{height: calc(100vh - 240px);overflow-y: auto;}
.chatboard-msg .user-dp{width: 50px;margin-top: 50px;}
.chatboard-msg .msg-time{color: #545454;font-size: 0.75rem;margin-top: 10px;display: inline-block;}
.chatboard-msg .user-id-2, .chatboard-msg .user-id-1{display: flex;padding: 5px 0;align-items: flex-start;}
.chatboard-msg .user-id-1{flex-direction: row-reverse}
.chatboard-msg .user-id-2 .user-dp{margin-right: 20px;}
.chatboard-msg .user-id-1 .user-dp{margin-left: 20px}
.chatboard-msg .user-id-2 p, .chatboard-msg .user-id-1 p{padding: 15px;font-size: 0.875rem;line-height: 1.6; margin-bottom: 10px;}
.chatboard-msg .user-id-2 p{background-color: #eaeaea;color: #979797;border-radius: 10px 10px 10px 0;}
.chatboard-msg .user-id-1 p{background-color: #3b84f8;color: #fff;border-radius: 10px 10px 0 10px;}
.chatboard-msg .user-id-1 .chat-msg-count, .chatboard-msg .user-id-2 .chat-msg-count{display: flex;flex-wrap: wrap; max-width: 350px;flex-direction: column;}
.chatboard-msg .user-id-2 .chat-msg-count{align-items: flex-start;}
.chatboard-msg .user-id-1 .chat-msg-count{align-items: flex-end;}
.chatboard .type-msg{background-color: #ebebeb;padding: 15px 24px;height: 80px}
.chatboard .type-msg .type-here span{width: 100%;padding: 0;}
.type-msg input, .type-msg input::placeholder{border: none;background-color: transparent;outline: none;color: #9d9d9d;font-size: 0.875rem;width: 100%;height: 50px;}
.type-msg .choose-file{width: 25px;height: 25px;overflow: hidden;cursor: pointer}
.type-msg .choose-file input[type="file"]{opacity: 0;width: 100%;height: 100%;position: absolute;z-index: 1;}
.type-msg .choose-file img{position: absolute;top: 0;left: 0;width: 25px;}

.type-msg .submit-msg{width: 35px;height: 35px;overflow: hidden;cursor: pointer}
.type-msg .submit-msg input[type="submit"]{opacity: 0;width: 100%;height: 100%;position: absolute;z-index: 1;}
.type-msg .submit-msg img{position: absolute;top: 0;left: 0;width: 35px;}

.dpdetails {height: 100%;width: 0;position: fixed;z-index: 1;top: 70px;right: 0;background-color: #111;overflow-x: hidden;transition: 0.5s;padding-top: 60px;}
.dpdetails .closebtn {position: absolute;top: 0;right: 25px;font-size: 36px;margin-left: 50px;}


/*Circle Progress bar Start*/
.progress1 {width: 80px;height: 80px;background: none;position: relative;}
.progress1::after {content: "";width: 100%;height: 100%;border-radius: 50%;border: 7px solid #000063;position: absolute;top: 0;left: 0;}
.progress1>span {width: 50%;height: 100%;overflow: hidden;position: absolute;top: 0;z-index: 1;}
.progress1 .progress-left {left: 0;}
.progress1 .progress-bar {width: 100%;height: 100%;background: none;border-width: 7px;border-style: solid;position: absolute;top: 0;border-color:#f06266;}
.progress1 .progress-left .progress-bar {left: 100%;border-top-right-radius: 80px;border-bottom-right-radius: 80px;border-left: 0;-webkit-transform-origin: center left;transform-origin: center left;}
.progress1 .progress-right {right: 0;}
.progress1 .progress-right .progress-bar {left: -100%;border-top-left-radius: 80px;border-bottom-left-radius: 80px;border-right: 0;-webkit-transform-origin: center right;transform-origin: center right;}
.progress1 .progress-value{position: absolute;top: 0;left: 0;}



/*Pagination Start*/
.pagination.custom-pagination .page-item.active .page-link{color:#fff !important;background-color: #4c4c4c;padding: .5rem .4rem;}
.pagination.custom-pagination .page-item .page-link{color:#727272 !important;min-width: 2em;line-height: .8 !important;font-size: 14px;font-weight: 500;}
.pagination.custom-pagination .page-item .page-link:hover, .pagination.wot-pagination .page-item .page-link:focus{box-shadow: none;color:#fff;}
.pagination.custom-pagination ul{display: flex;flex-wrap: wrap;align-items: center;margin-bottom:0}
.pagination.custom-pagination ul li:first-child a.page-link, .pagination.custom-pagination ul li:last-child a.page-link{border-radius:0;color:#fff;font-size:0;width:30px;height:30px;}
.pagination.custom-pagination ul li:first-child a.page-link:after, .pagination.custom-pagination ul li:last-child a.page-link:after, .pagination.custom-pagination ul li:first-child.disabled:after, .pagination.custom-pagination ul li:last-child.disabled:after{content:'';width: 10px;height:10px;border-top:1.3px solid #fff;border-left:1.3px solid #fff;position: absolute;top:10px;}
.pagination.custom-pagination ul li.disabled{position: relative;}
.pagination.custom-pagination ul li:first-child a.page-link, .pagination.custom-pagination ul li:last-child a.page-link{background:#a108ef  ;position: relative}
.pagination.custom-pagination ul li:first-child a.page-link:after, .pagination.custom-pagination ul li.disabled:first-child:after{transform: rotate(-45deg); left: 12px;}
.pagination.custom-pagination ul li:last-child a.page-link:after, .pagination.custom-pagination ul li.disabled:last-child:after{transform: rotate(135deg);right: 12px;}
.pagination.custom-pagination ul li:first-child.disabled, .pagination.custom-pagination ul li:last-child.disabled{background:#808080;width:30px;height:30px;border-radius:0;color:#fff;font-size:0;}
.pagination.custom-pagination ul li:first-child.disabled span, .pagination.custom-pagination ul li:last-child.disabled span{display: none;}
.pagination.custom-pagination ul li:first-child{margin-right:15px;}
.pagination.custom-pagination ul li:last-child{margin-left:15px;}
.pagination.custom-pagination ul li:first-child:hover a.page-link{background:#404b57;color:#fff;border-radius: 0;}